*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #171723;
}

.body{
    position: absolute;
    background: no-repeat center url(../img/pexels-jan-van-bizar-10988262.jpg);
    top: 0;
    left:0;
    width: 100%;
    height: 45vh;
}

.todo{
    width: 400px;
    margin: 150px auto;
}
.header{
    background-color: #24273d;
    padding: 15px;
    border-radius: 5px;
}

.header > button {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid #a9a6ca;
    color: #a9a6ca;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}
.header > input{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}
/* .banner{
    background-size: cover;
    width: 100vh;
    height: 50vh;
    row-gap: 20px;
} */
.todolist-menu{ 
    background-color: #24273d;
    margin-top: 25px;
}
.todolist-menu-item{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
}
.todolist-menu-item > button{
    width: 30px;
    height: 30px;
    border: 2px solid #a9a6ca;
    color: #a9a6ca;
    border-radius: 50%;
    background-color: transparent;
}

.todolist-menu-item > p{
    color :#9ca5cc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.todolist-menu-item-right>button{
    margin-right: 10px;
    background-color: transparent;
    color: aliceblue;
    border: none;
}
.footer{
    padding-top: 20px;
    background-color: #24273d;
    display: flex;
    justify-content: space-around;
}
.footer-btn{
    background-color: transparent;
    padding-right: 10px;
    border: none;
    color :#9ca5cc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 15px;
}
.footer-count{
    color :#9ca5cc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}